#Data Structure
Theotical Questions:

1. What are the data structures, and why are they important?
  Ans. Data structure are way to organise and store data in a computer so that it can be efficiently accessed, modified, and manipulated.
      Importance of data structure:
      1. Efficient data access:
      2. Data organization:
      3. Improved algorithm performance:
      4. Scalability:
      5. Problem solving:

2. Explain the difference between mutable and immutable data types with examples?
   Ans.  Mutable Data Types: can be modified after they are created. This means that you can change the contrnt of the data structure without creating a new one. Examples: Lists, Dictionaries, Sets

In [ ]:
my_list = [1,2,3]
my_list.append(4)
print (my_list)

[1, 2, 3, 4]

In [ ]:
my_dict = {"name":"john","age": 30}
my_dict["city"] = "New York"
print(my_dict)

{'name': 'john', 'age': 30, 'city': 'New York'}

In [ ]:
my_set = {1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

3. What are the main differences between lists and tuples in python?
   Ans: The main difference between lists and tuples in python are:
        1. Mutability
        2. Syntax
        3. Use cases
        4. Performances

4. Describe how dictionaries store data?
   Ans: Dictionaries in python store data as a collection of key-value pairs.
        1.Key-value pairs
        2. Hash table
        3. Lookup

5. Why might you use a set instead of a list in python?
   Ans: 1. Uniqueness of elements
        2. Fast membership testing
        3. Efficient set operations
        4. Improved performance

6. What is a string in python, and how is it different from a list?
   Ans: In python a string is a sequence of characters, such as letters, numbers,or symbols, enclosed in quotes (either single quotes' or double quotes").

In [ ]:
# String example
my_string = "hello"
try:
  my_string[0] "H"
  except TypeError:
    print("Strings are immutable")

SyntaxError: invalid syntax (<ipython-input-6-15f62c1561c7>, line 4)

In [ ]:
#List example
my_list = ["h","e","l","l","o"]
my_list[0] = "H"
print(my_list)

['H', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in python?
   Ans: Tuples in python ensure data integrity in several ways:
        1. Immutability
        2. Protection against unintended changes
        3. Thread safety
        4. Code clearity and predictability

8. What is a hash table,and how does it relate to dictionaries in python?
   Ans: A hash table is a data structure that stores key-value pairs, in an array usind a hash function to map keys to indicies of the array.
       Relation to dictionaries in python:
       1. Dictionaries are implemented as hash tables:
       2. Fast lookups:
       3. Efficient insertion and deletion:

In [ ]:
#dictionary example
my_dict = {"name": "john", "age":30}
print(my_dict["name"])

john

9. Can lists contain different data types in python?
Ans:  Yes, lists in python can contain different data types.
      example:

In [ ]:
my_list = [1,"hello",3.14, True, None]
print(my_list)

[1, 'hello', 3.14, True, None]

10. Explain why strings are immutable in python?
Ans:  Strings in python are immutable, meaning that once a string is created,its contents cannot be modified.

11. What advantages do dictionaries offer over lists for certain tasks?
Ans:  When to use dictionaries: you need fast lookup and efficient data retrieval, you need to store and retrieve data using a meaningful keys,you are working with complex data structures or graph.
     When to use lists: you need to store a collection of data that needs to be accessed by index, you need to perform operations that require indexing, such as slicing or sorting.

12. Describe a scenario where using a tuple would be preferable over a list?
   Ans: lists are mutable which means that the records content could be modified accidentally or maliciously.lists do not provide the same level of data integrity as tuples which could lead to errors or inconsistencies in the data.

13. How do sets handle duplicate value in python?
   Ans: sets only store unique elements,which means that duplicate values are automatocally ignored.When you add a duplicate value to a set,python simply ignores it and dosent add it to the set.

14. How does the "in" keyword work differently for lists and dictionaries?
  Ans: When using in with a list, python checks if a value is present in the list.python performs a sequential search through the list to find the value.

In [ ]:
my_list = [1,2,3,4,5]
print(3 in my_list)

True

In [ ]:
my_list = [1,2,3,4,5]
print(6 in my_list)

False

In [ ]:
#dictionaries example
my_dict = {"name":"john","age":30}
print("name" in my_dict)

True

15. Can you modify the elemnets of a tuple?Explain why or why not?
   Ans: No, you cannot modify the elements of a tuple directly.

In [ ]:
# Attempting to modify a tuple
my_tuple = (1,2,3)
try:
  my_tuple[o] = 4
  except TypeError:
    print("tuples are immutable")

SyntaxError: invalid syntax (<ipython-input-16-dfe254d0588b>, line 5)

In [ ]:
# Example of creating a new tuple
my_tuple = (1,2,3)
new_tuple = (4,) + my_tuple[1:]
print(new_tuple)

(4, 2, 3)

16. What is a nested dictionary, and give an example of its use case?
   Ans: A nested dictionary is a dictionary that contains another dictionary as its value. example of a nested dictionary:

In [ ]:
person = {
    "name":"john",
    "age":30
    "address":{
        "street":"123Main St",
        "city":"New York",
        "state":"NY"
    }
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-18-0228f0dad809>, line 3)

17. Describe the time complexity of accessing elements in a dictionary?
Ans: The time complexity of accesssing elements in a dictionary is typically O(1),making it a very efficient data structure for lookups.

18. In what situations are lists preferred over dictionaries?
  Ans: 1. Ordered data
       2. Index-based access
       3. Sequence operations
       4. Homogeneous data
       5. iteration

19. Why are dictionaries considered unordered , and how does that affect data retrieval?
  Ans: Dictionaries in python are considered unordered because they do not maintain the insertion order of elements prior to python.

20. Explain the difference between lists and a dictionary in terms of data retrieval?
  Ans: Lists:
      1.Index based access
      2.Sequential access
       Dictionaries:
      1. Key-based access
      2. Direct access

In [ ]:
#list example
my_list = [1,2,3,4,5]
print(my_list[0])

1

In [ ]:
#Dictionary example
my_dict = {"name":"john","age":30}
print(my_dict["name"])

john

# Practical Question

1. Write a code to create a string with your name and print it?

In [ ]:
name = "Ajay"
print(name)

Ajay

2. write a code to find the length of a string "Hello World"

In [ ]:
string = "Hello World"
length = len(string)
print("the length of the string is:",length)

the length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string = "python programming"
sliced_string = string[:3]
print(sliced_string)

pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
string = "Hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple"with "arrange" in the string "I like apple"

In [ ]:
string = "I like apple"
new_string = string.replace("apple","arrange")
print(new_string)

I like arrange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list[1,2,3,4,5].

In [ ]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a','b','c','d',]

In [ ]:
letters = ['a','b','c','d']
second_elements = letters[1]
print(second_elements)

b

10. Write a code to reverse the list [10,20,30,40,50]

In [ ]:
num = [10,20,30,40,50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100,200,300 and print it.

In [ ]:
num = tuple([100,200,300])
print(num)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

In [ ]:
colors = ('red','green','blue','yellow',)
second_last = colors[-2]
print(second_last)

blue

13.Write a code to find the minimum number in the tuple (10,20,5,15).

In [1]:
num = (10,20,5,15)
min_num = min(num)
print(min_num)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [2]:
animals = ('dog','cat','rabbit')
index = animals.index('cat')
print(index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [6]:
fruits = ('apple','banana','orange',)
if 'kiwi' in fruits:
  print("Yes,kiwi is in the tuple" )
else:
    print("No,kiwi is not in the tuple")

No,kiwi is not in the tuple

16. Write a code to create a set with the elements 'a','b','c' and print it.

In [7]:
letters = {'a','b','c'}
print(letters)

{'c', 'b', 'a'}

17. Write a code to clear all  elements from the set {1,2,3,4,5}.

In [8]:
numbers = {1,2,3,4,5}
numbers.clear()
print(numbers)

set()

18. Write a code to remove the element 4 from the set{1,2,3,4}.

In [9]:
numbers = {1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19.Write a code to find the union of two sets {1,2,3} and {3,4,5].

In [11]:
set1 =  {1,2,3}
set2 =  {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [12]:
set1 =  {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create the dictionary with keys "name","age",and "city",and print it.

In [14]:
person = {
    "name":"john",
    "age":30,
    "city":"New York"

}
print(person)

{'name': 'john', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name':'john','age':25).

In [15]:
person = {'name':'john','age':25}
person['country'] = 'USA'
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name':'alice','age':30).

In [1]:
person = {'name':'alice','age':30}
name = person['name']
print(name)

alice

24. Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}.

In [2]:
person = {'name':'Bob','age':22,'city':'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name':'Alice','city':'paris').

In [3]:
person = {'name':'Alice','city':'paris'}
if 'city'in person:
  print("Yes,'city'is in the dictionary")
else:
  print("No,'city'is not in the dictionary")

Yes,'city'is in the dictionary

26. Write a code to create a list,a tuple,and a dictionary,and print them all.

In [4]:
#create a list
my_list = [1,2,3,4,5]
print("list:",my_list)

list: [1, 2, 3, 4, 5]

In [5]:
#create a tuple
my_tuple = (6,7,8,9,10)
print("Tuple:",my_tuple)

Tuple: (6, 7, 8, 9, 10)

In [6]:
#create a dictionary
my_dict = {'name':'john','age':30,'city':'New York'}
print("dictionary:",my_dict)

dictionary: {'name': 'john', 'age': 30, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100,sort it in ascending order,and print the result.(replaced).

In [9]:
random_numbers = random.sample(range(1,101),5)
print("Original List:",random_numbers)

NameError: name 'random' is not defined

28. Write a code to create a list with strings and print the element at the third index.

In [10]:
fruits = ['apple','banana','cherry','date','elderberry']
print(fruits[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [15]:
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
combined_dict = dict1.copy()
combined_dict.update(dict2)
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to covert a list of strings into a set.

In [16]:
string_list = ['apple','banana','apple','orange','banana']
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'orange'}